<div class="container">
  <h1>Welcome To The Fabulous World Of Cocktails</h1>
  <p><%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
  <% @cocktails.each do |cocktail| %>
  <h3> <%= cocktail.name %></h3>

  <% end %>

</div>
