<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Go back", cocktails_path %><br><br>
      <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>

    </div>
  </div>
</div>


