.home-banner {
  background-image: url('banner.jpg');
  background-size: cover;
  height: 500px;
  color: #eee;
  text-align: left;
  padding: 50px;
}

.banner-title {
  margin: 20px auto;
  font-size: 24px;
}



